.op-extension-box {
  width: 400px;
}

.op-extension-box-title {
  background-color: #00263e;
  color: white;
  padding: 10px;
  text-align: center;

  h1 {
    font-size: 1.6em;
    margin: 0;
  }
}

.op-extension-box-body {
  padding: 10px;
}
